# Environment & Dependencies
env/
node_modules/
vendor/

# Build Output
/build/
/dist/

# Cache & Logs
.sass-cache/
*.log

# IDE & Editor Configs
.vscode/
.idea/
.DS_Store
.codebuddy/

# Local manual backups
Old builds/
